@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --cor-principal: #fff;
    --cor-secundaria: #333333;
    --cor-detalhe: #979797;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.conteudo-principal {
    min-height: calc(100% - 8px);
}

#sidenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow-x: hidden;
    background-color: var(--cor-secundaria);
    height: 100%;
}

#sidenav.fechado {
    width: 0;
}

#sidenav.aberto {
    width: min(351px, 100vw);
    transition: 0.3s;
}

#sidenav .separador {
    display: none;
}

#sidenav img {
    padding: 20px;
}

#sidenav a {
    display: block;
    padding: 8px 20px;
    text-align: right;
    font-size: 16px;
    text-decoration: none;
    color: var(--cor-principal);
}

#sidenav a:hover, #sidenav a:active {
    background-color: #c4c4c4;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E0E0;
}

header div:first-child {
    padding: 13px 22px;
}

header>div>h1 {
    font-size: 20px;
    font-weight: 600;
}

header div:last-child {
    padding: 15px 22px;
}


header div:last-child>img {
    width: 20px;
}

.espaco-lateral {
    margin: 0 20px;
}

.espaco-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Modificações no formulário  */

form h2 {
    display: none;
}

form [id|="tran"] {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid var(--cor-detalhe);
    border-radius: 4px;
}

form label {
    display: inline-block;
    margin-bottom: 7px;
    font-size: 14px;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    font-size: 14px;
}

form hr {
    margin-top: 28px;
}

#extrato h2 {
    padding: 21px 0 19px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

#extrato table {
    width: 100%
}

#extrato tr {
    border-bottom: 1px solid var(--cor-detalhe);
}

#extrato tr:last-child {
    border-bottom: none;
    border-top: 4px double var(--cor-detalhe);
    font-weight: 700;
}

#extrato tr:last-child span {
    vertical-align: top;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

#extrato th:nth-child(2) {
    text-align: left;
}

#extrato td:first-child {
    padding-left: 10px;
    padding-right: 10px;
    width: 0;
}

#extrato td:last-child {
    padding-right: 10px;
    text-align: right;
}

#extrato td, #extrato th {
    padding: 8px 0px;
    vertical-align: top;
    font-size: 14px;
}

footer {
    background-color: var(--cor-secundaria);
    height: 8px;
    width: 100%;
}

@media only screen and (min-width: 600px) {

    form {
        padding: 0px 20px;
        border: 1px solid var(--cor-detalhe);
        border-radius: 4px;
        margin: 20px 0;
    }

    form h2 {
        display: block;
        margin: 20px 0 11px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    form hr {
        display: none;
    }

    form .grid {
        display: grid;
        grid-template-columns: 23% 50% 23%;
        grid-column-gap: 2%;
    }

    form input[type="submit"] {
        width: 200px;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .espaco-vertical {
        margin: 10px 0;
    }

    #extrato th:last-child {
        padding-right: 10px;
        text-align: right;
    }
}

@media only screen and (min-width: 800px) {

    form {
        padding: 0px 10px;
    }

    form .grid {
        display: block;
    }

    form input[type="submit"] {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .espaco-vertical {
        margin: 20px 0;
    }

    .corpo {
        display: grid;
        grid-template-columns: calc(40% - 10px) calc(60% - 10px);
        grid-column-gap: 20px;
    }

    header {
        display: flex;
        justify-content: flex-start;
    }

    header div {
        display: inline-block;
        vertical-align: middle;
    }

    header div:last-child {
        display: none;
    }

    #sidenav {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
        position: initial;
        top: initial;
        right: initial;
        transition: 0s;
        z-index: 0;
        background-color: var(--cor-principal);
    }

    #sidenav.fechado {
        width: 350px;
    }

    #sidenav.aberto {
        width: 350px;
    }

    #sidenav img {
        display: none;
    }

    #sidenav a {
        display: inline-block;
        padding: 8px auto;
        text-align: right;
        font-size: 16px;
        text-decoration: none;
        color: black;
    }

    #sidenav .separador {
        display: inline-block;
        padding: 10px 0px;
        border: 1px solid var(--cor-detalhe);
    }

    #sidenav a:hover, #sidenav a:active {
        background-color: #fff;
        color: black;
    }
}

@media only screen and (min-width: 1140px) {
    .corpo {
        max-width: 1100px;
        margin: 0px auto;
    }
}
